PD_APP_NAME=PD Severity Inference API
PD_APP_VERSION=1.0.0
PD_API_PREFIX=
PD_LOG_LEVEL=INFO

# local | s3
PD_MODEL_SOURCE=local

# Local model directory (default is ../models from project root)
PD_LOCAL_MODEL_DIR=

# Required only when PD_MODEL_SOURCE=s3
PD_S3_BUCKET=
PD_S3_PREFIX=models
PD_AWS_REGION=us-east-1

PD_MODEL_6M_FILENAME=xgb_sev_6m.joblib
PD_MODEL_12M_FILENAME=xgb_sev_12m.joblib
PD_MODEL_24M_FILENAME=xgb_sev_24m.joblib
